---
title: B.S.T エントリー完了
description: 東京湾で唯一のライブフィッシュ方式によるボートシーバストーナメント「B.S.T」に参戦するためのエントリーフォーム。
---
= partial "shared/global_navigation", locals: {val: "entry"}
#topicpath
  %ol
    %li
      = link_to "B.S.T公式TOP", "/"
      %i.fa.fa-angle-right
    %li
      = link_to "大会エントリー", "/entry/"
      %i.fa.fa-angle-right
    %li エントリー完了
%article#content
  #content_inner
    #main_column.single
      %section#entryform
        %h1 エントリー完了
        %p.section_summary
          エントリーありがとうございます。
          %br
          お申込いただいた内容をご入力いただいたメールアドレス宛に確認メールを自動送信いたします。
          %br
          ※迷惑メールフォルダに送信されてしまう場合がございますので、メールが届いてない場合はご確認ください。
        %p.section_summary
          ご不明な点などございましたら、以下へお問い合せください。
          %br
          %br
          B.S.T 大会事務局
          %br
          %br
          神奈川県横浜市神奈川区東神奈川2-49-11
          %br
          D-marina
          %br
          TEL : 045-461-1062
          %br
          FAX : 045-451-3187
          %br
          URL : http://www.daruma-marine.com/
          %br
          Mail: marina@daruma-marine.com
        %p.section_summary
          %a{href: "/"} トップページに戻る
        %p.credit
          %span#powered_by_me
