@import "compass";
@include global-reset;
@import "settings";
@import "header";
@import "footer";
@import "styles";
@import "about";
@import "regulations";
@import "entry";
@import "videopanel";
body{
  color: #333;
}
#topicpath{
  width: 100%;
  ol{
    width: $content_width;
    padding-top: 20px;
    margin: 0 auto 20px auto;
    li{
      font-size: 12px;
      display: inline;
      a{
        color: inherit;
        text-decoration: none;
      }
      i{
        font-size: 16px;
        margin: 0 5px;
      }
    }
  }
}
#content{
  width: 100%;
  padding-bottom: 50px;
  #content_inner{
    width: $content_width;
    margin: 0 auto;
    overflow: hidden;
    #main_column, #sub_column{
      h1{
        font-size: 18px;
        color: #FFF;
        text-shadow: 1px 1px #000;
        background-color: $primary;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 10px;
        i{
          font-size: 20px;
          color: #D4B572;
        }
      }
      p.section_summary{
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 150%;
      }
      &.single{
        width: 100%;
      }
      &.double{
        width: 640px;
        float: left;
      }
    }
    #sub_column{
      width: 300px;
      float: right;
      h2{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}