@import "settings";

#footer{
  width: 100%;
  background-color: $theme_color02;
  border-top: 1px solid #D4B572;
  #footer_inner{
    width: $content_width;
    padding: 25px 0 10px 0;
    margin: 0 auto;
    #footer_contents{
      width: 100%;
      overflow: hidden;
      margin-bottom: 20px;
      .content_column{
        &:first-child{
          width: 420px;
          float: left;
        }
        &:last-child{
          width: 520px;
          float: right;
        }
        #fb_widget{
          width: 520px;
          background-color: #FFF;
          margin-bottom: 20px;
          float: right;
          .fb-like-box{
            background-color: #FFF;
          }
        }
        #comittee_info{
          dl{
            width: 200px;
            font-size: 12px;
            color: #FFF;
            line-height: 130%;
            margin: 0 0 0 auto;
            dt{
              font-weight: bold;
              text-align: right;
              margin-bottom: 5px;
            }
            dd{
              text-align: right;
            }
          }
        }
        #pro_guides{
          width: 420px;
          float: left;
          p{
            font-size: 14px;
            color: #FFF;
          }
          ul{
            width: 100%;
            overflow: hidden;
            li{
              width: 200px;
              height: 50px;
              background-image: image_url('bg_bnr-guides.gif');
              background-repeat: no-repeat;
              margin: 0 20px 10px 0;
              float: left;
              &:nth-child(even){
                margin-right: 0;
              }
              @for $i from 0 through 10{
                &:nth-child(#{$i + 1}){
                  background-position: 0 #{$i*-50}px;
                }
              }
              a{
                display: block;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
  #copyright{
    width: 100%;
    background-color: $theme_color01;
    border-top: 1px solid #D4B572;
    address{
      width: $content_width;
      font-size: 12px;
      color: #FFF;
      text-align: right;
      padding: 15px 0;
      margin: 0 auto;
    }
  }
}
