@import "settings";

.footer{
  width: 100%;
  background-color: $theme_color02;
  border-top: 1px solid #D4B572;
  &__sponsors{
    width: $content_width;
    padding: 20px 0;
    margin: 0 auto;
  }
  #copyright{
    width: 100%;
    background-color: $theme_color01;
    border-top: 1px solid #D4B572;
    address{
      width: $content_width;
      font-size: 12px;
      color: #FFF;
      text-align: right;
      padding: 15px 0;
      margin: 0 auto;
    }
  }
}
