---
title: 大畠 拓（オオバタケ タク）｜参戦トーナメンター紹介
description: BSTトーナメンター大畠 拓選手のご紹介。
---

大畠 拓（オオバタケ タク）
Taku Obatake

選手ID
生年月日
職業
在住市区
使用ボート
サポートメーカー
戦歴 2014年度シリーズ優勝
好きなロッドメーカー
好きなリールメーカー
好きなラインメーカー
好きなルアーメーカー
その他好きなブランド
個人サイト

順位推移
参戦回数
最上位
最下位
平均順位
表彰率
