---
title: B.S.T ボートシーバストーナメントについて
description: B.S.T ボートシーバストーナメントの開催趣旨、ビジョンなどをご説明しています。
---
= partial "shared/global_navigation", :locals => {:val => "about"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} B.S.T公式TOP
      %i.fa.fa-angle-right
    %li B.S.T ボートシーバストーナメントについて
#imagepanel_low
  #imagepanel_low_inner.about_header
    .bg_layer
      %h1 B.S.T ボートシーバストーナメントについて
%article#content
  #content_inner
    #main_column.single
      %section#chairman
        %h1
          %i.fa.fa-user
          B.S.T 代表 齋藤 剛宏
        #chairman_inner
          .element
            %h2
              %i.fa.fa-chevron-right
              開催の動機
            %p
              現在作成中です。
          .element
            %h2
              %i.fa.fa-chevron-right
              展望・ビジョン
            %p
              現在作成中です。
