---
title: BST ボートシーバストーナメントについて
description: BST ボートシーバストーナメントの開催趣旨、ビジョンなどをご説明しています。
---
= partial "shared/global_navigation", :locals => {:val => "about"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li BST ボートシーバストーナメントについて
%article#content
  #content_inner
    #main_column.double
      %section#chairman
        %h1
          %i.fa.fa-bullhorn
          BST ボートシーバストーナメントについて
        #chairman_inner
          .element
            %h2
              %i.fa.fa-chevron-right
              大会趣旨
            %p
              東京湾のスズキ(シーバス)の漁獲量は全国1位であり、その豊富な資源量を背景に行われるボートシーバスゲームは世界に誇る事の出来るレジャースポーツと言えます。本トーナメントは、プロとして活躍するシーバスガイドとアマチュアアングラーが共にその技術を競う場を創出すると共に、その魅力とレジャースポーツとしての可能性を世界に発信する事を目的に開催いたします。
            %p
              豊かな東京湾の海に感謝し、その自然環境の保全に努め、未来に繋げる意思を持った方々にご参加いただきたいと思います。

    #sub_column
      = partial "shared/blog_info"
      = partial "shared/committee_info"
