:plain
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- BST_SIDE -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-6412659476989690"
       data-ad-slot="1952161730"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>