%section#events
  %h1
    %i.fa.fa-calendar
    BST 年間競技日程
  %p.section_summary
    %abbr{title: "Boat Seabass Tournament"}
      BST
    では、プロ・アマ、男女問わず、参戦していただけるアングラーを随時募集しております。
    %br
    全てに参戦する必要はありませんので、我こそは！という方の挑戦をお待ちしております。
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2015.round1
    .this_content
      %span.danger 終了
      %h2{itemprop: "name"} BST 2015 第1戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2015-01-27"} 2015-01-27
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        多数のエントリーありがとうございました。
        %br
        = link_to "/results/2015/round1.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2015.round2
    .this_content
      %span.danger 終了
      %h2{itemprop: "name"} BST 2015 第2戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2015-03-10"} 2015-03-10
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        多数のエントリーありがとうございました。
        %br
        = link_to "/results/2015/round2.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2015.round3
    .this_content
      %span.danger 中止
      %h2{itemprop: "name"} BST 2015 第3戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2015-05-12"} 2015-05-12
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        強風・高波予報のため中止となりました。
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2015.round4
    .this_content
      %span.danger 終了
      %h2{itemprop: "name"} BST 2015 第4戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2015-06-09"} 2015-06-09
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        多数のエントリーありがとうございました。
        %br
        = link_to "/results/2015/round4.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2015.round5
    .this_content
      %span.success 絶賛募集中
      %span.info フライOK
      %span.primary 後援募集中
      %h2{itemprop: "name"} BST 2015 第5戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2015-07-14"} 2015-07-14
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        ご不明な点などございましたら、大会事務局までお問い合せください。
        %br
        = link_to "/entry/" do
          %i.fa.fa-caret-right
          エントリー
