%ul
  %li= link_to image_tag("img_bnr-yamahamarine.gif", alt: "ヤマハ様"), "//www.yamaha-motor.co.jp/marine/", target: "_blank"
  %li= link_to image_tag("img_bnr-marinelicence.gif", alt: "マリンライセンスロイヤル様"), "//www.marine-license.com/", target: "_blank"
  -#%li= link_to image_tag("img_bnr-suzukimarine.gif", alt: "スズキマリン様"), "//suzukimarine.co.jp/", target: "_blank"
